/*
* SearXNG, A privacy-respecting, hackable metasearch engine
*
* To convert "style.less" to "style.css" run: $make styles
*/
.github-issue-button {
  display: block;
  padding: 8px 16px;
  font-family: sans-serif;
  font-size: 16px;
  color: white;
  background-color: #238636 !important;
  /* important is needed cause to an !important in logicodev-dark */
  border: #2ea043;
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.github-issue-button:hover {
  background-color: #2ea043;
}
.issue-hide {
  display: none;
}
.engine-stats .engine-name {
  width: 20rem;
}
.engine-stats .engine-score {
  width: 7rem;
  text-align: right;
}
.engine-stats .engine-reliability {
  text-align: right;
}
.engine-stats table.engine-error {
  max-width: 1280px;
  margin: 1rem;
  border: 1px solid gray;
}
.engine-stats table.engine-error th.engine-error-type,
.engine-stats table.engine-error td.engine-error-type,
.engine-stats failed-test {
  width: 10rem;
}
.engine-stats table.engine-error span.log_parameters {
  border-right: 1px solid gray;
  padding: 0 1rem 0 0;
  margin: 0 0 0 0.5rem;
}
.bar-chart-value {
  width: 3em;
  display: inline-block;
  text-align: right;
  padding-right: 0.5rem;
}
.bar-chart-graph {
  width: calc(100% - 5rem);
  display: inline-block;
}
.bar-chart-bar {
  border: 3px solid #5bc0de;
  margin: 1px 0;
}
.bar-chart-serie1 {
  border: 3px solid #5bc0de;
  margin: 1px 0;
  float: left;
}
.bar-chart-serie2 {
  border: 3px solid #deb15b;
  margin: 1px 0;
  float: left;
}
.bar0 {
  width: 0;
  border: 0;
}
.bar1 {
  width: 1%;
}
.bar2 {
  width: 2%;
}
.bar3 {
  width: 3%;
}
.bar4 {
  width: 4%;
}
.bar5 {
  width: 5%;
}
.bar6 {
  width: 6%;
}
.bar7 {
  width: 7%;
}
.bar8 {
  width: 8%;
}
.bar9 {
  width: 9%;
}
.bar10 {
  width: 10%;
}
.bar11 {
  width: 11%;
}
.bar12 {
  width: 12%;
}
.bar13 {
  width: 13%;
}
.bar14 {
  width: 14%;
}
.bar15 {
  width: 15%;
}
.bar16 {
  width: 16%;
}
.bar17 {
  width: 17%;
}
.bar18 {
  width: 18%;
}
.bar19 {
  width: 19%;
}
.bar20 {
  width: 20%;
}
.bar21 {
  width: 21%;
}
.bar22 {
  width: 22%;
}
.bar23 {
  width: 23%;
}
.bar24 {
  width: 24%;
}
.bar25 {
  width: 25%;
}
.bar26 {
  width: 26%;
}
.bar27 {
  width: 27%;
}
.bar28 {
  width: 28%;
}
.bar29 {
  width: 29%;
}
.bar30 {
  width: 30%;
}
.bar31 {
  width: 31%;
}
.bar32 {
  width: 32%;
}
.bar33 {
  width: 33%;
}
.bar34 {
  width: 34%;
}
.bar35 {
  width: 35%;
}
.bar36 {
  width: 36%;
}
.bar37 {
  width: 37%;
}
.bar38 {
  width: 38%;
}
.bar39 {
  width: 39%;
}
.bar40 {
  width: 40%;
}
.bar41 {
  width: 41%;
}
.bar42 {
  width: 42%;
}
.bar43 {
  width: 43%;
}
.bar44 {
  width: 44%;
}
.bar45 {
  width: 45%;
}
.bar46 {
  width: 46%;
}
.bar47 {
  width: 47%;
}
.bar48 {
  width: 48%;
}
.bar49 {
  width: 49%;
}
.bar50 {
  width: 50%;
}
.bar51 {
  width: 51%;
}
.bar52 {
  width: 52%;
}
.bar53 {
  width: 53%;
}
.bar54 {
  width: 54%;
}
.bar55 {
  width: 55%;
}
.bar56 {
  width: 56%;
}
.bar57 {
  width: 57%;
}
.bar58 {
  width: 58%;
}
.bar59 {
  width: 59%;
}
.bar60 {
  width: 60%;
}
.bar61 {
  width: 61%;
}
.bar62 {
  width: 62%;
}
.bar63 {
  width: 63%;
}
.bar64 {
  width: 64%;
}
.bar65 {
  width: 65%;
}
.bar66 {
  width: 66%;
}
.bar67 {
  width: 67%;
}
.bar68 {
  width: 68%;
}
.bar69 {
  width: 69%;
}
.bar70 {
  width: 70%;
}
.bar71 {
  width: 71%;
}
.bar72 {
  width: 72%;
}
.bar73 {
  width: 73%;
}
.bar74 {
  width: 74%;
}
.bar75 {
  width: 75%;
}
.bar76 {
  width: 76%;
}
.bar77 {
  width: 77%;
}
.bar78 {
  width: 78%;
}
.bar79 {
  width: 79%;
}
.bar80 {
  width: 80%;
}
.bar81 {
  width: 81%;
}
.bar82 {
  width: 82%;
}
.bar83 {
  width: 83%;
}
.bar84 {
  width: 84%;
}
.bar85 {
  width: 85%;
}
.bar86 {
  width: 86%;
}
.bar87 {
  width: 87%;
}
.bar88 {
  width: 88%;
}
.bar89 {
  width: 89%;
}
.bar90 {
  width: 90%;
}
.bar91 {
  width: 91%;
}
.bar92 {
  width: 92%;
}
.bar93 {
  width: 93%;
}
.bar94 {
  width: 94%;
}
.bar95 {
  width: 95%;
}
.bar96 {
  width: 96%;
}
.bar97 {
  width: 97%;
}
.bar98 {
  width: 98%;
}
.bar99 {
  width: 99%;
}
.bar100 {
  width: 100%;
}
.osm-map-box {
  height: 300px;
  width: 100%;
  margin: 10px 0;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

@font-face {
  font-family: "ion";
  src: url("../fonts/ion.eot?31a1b735188db616a2142d17947e8a45");
  src: url("../fonts/ion.eot?31a1b735188db616a2142d17947e8a45#iefix") format("embedded-opentype"), url("../fonts/ion.woff2?31a1b735188db616a2142d17947e8a45") format("woff2"), url("../fonts/ion.woff?31a1b735188db616a2142d17947e8a45") format("woff"), url("../fonts/ion.ttf?31a1b735188db616a2142d17947e8a45") format("truetype"), url("../fonts/ion.svg?31a1b735188db616a2142d17947e8a45#ion") format("svg");
  font-weight: normal;
  font-style: normal;
}
.ion-icon {
  display: inline-block;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ion-icon:before {
  font-family: "ion";
}
.ion-navicon-round:before {
  content: "\f101";
}
.ion-search:before {
  content: "\f102";
}
.ion-play:before {
  content: "\f103";
}
.ion-link:before {
  content: "\f104";
}
.ion-chevron-up:before {
  content: "\f105";
}
.ion-chevron-left:before {
  content: "\f106";
}
.ion-chevron-right:before {
  content: "\f107";
}
.ion-arrow-down-a:before {
  content: "\f108";
}
.ion-arrow-up-a:before {
  content: "\f109";
}
.ion-arrow-swap:before {
  content: "\f10a";
}
.ion-arrow-dropdown:before {
  content: "\f10b";
}
.ion-globe:before {
  content: "\f10c";
}
.ion-time:before {
  content: "\f10d";
}
.ion-location:before {
  content: "\f10e";
}
.ion-warning:before {
  content: "\f10f";
}
.ion-error:before {
  content: "\f110";
}
.ion-film-outline:before {
  content: "\f111";
}
.ion-music-note:before {
  content: "\f112";
}
.ion-more-vertical:before {
  content: "\f113";
}
.ion-magnet:before {
  content: "\f114";
}
.ion-close:before {
  content: "\f115";
}
/*
 * SearXNG, A privacy-respecting, hackable metasearch engine
 *
 * To change the colors of the site, simple edit this variables
 */
:root {
  --color-base-font: #444;
  --color-base-font-rgb: 68, 68, 68;
  --color-base-background: #fff;
  --color-url-font: #29314d;
  --color-url-visited-font: #80b;
  --color-header-background: #f7f7f7;
  --color-header-border: #ddd;
  --color-footer-background: #f7f7f7;
  --color-footer-border: #ddd;
  --color-sidebar-border: #ddd;
  --color-sidebar-font: #000;
  --color-backtotop-font: #444;
  --color-backtotop-border: #ddd;
  --color-backtotop-background: #fff;
  --color-btn-background: #3050ff;
  --color-btn-font: #fff;
  --color-search-border: #bbb;
  --color-search-background: #fff;
  --color-search-font: #222;
  --color-search-background-hover: #3050ff;
  --color-error: #db3434;
  --color-error-background: #fae1e1;
  --color-warning: #dbba34;
  --color-warning-background: #faf5e1;
  --color-success: #42db34;
  --color-success-background: #e3fae1;
  --color-categories-item-selected-font: #3050ff;
  --color-categories-item-border-selected: #3050ff;
  --color-autocomplete-font: #000;
  --color-autocomplete-border: #bbb;
  --color-autocomplete-background: #fff;
  --color-autocomplete-background-hover: #f7f7f7;
  --color-answer-border: #ddd;
  --color-answer-font: #444;
  --color-answer-background: #f7f7f7;
  --color-result-border: #ddd;
  --color-result-url-font: #000;
  --color-result-vim-selected: #f7f7f7;
  --color-result-vim-arrow: #000bbb;
  --color-result-description-highlight-font: #000;
  --color-result-link-font: #000bbb;
  --color-result-link-font-highlight: #000bbb;
  --color-result-link-visited-font: #80b;
  --color-result-publishdate-font: #777;
  --color-result-engines-font: #777;
  --color-result-search-url-border: #ddd;
  --color-result-search-url-font: #000;
  --color-result-image-span-background-hover: rgba(0, 0, 0, 0.6);
  --color-result-image-span-font: #fff;
  --color-result-image-background: #000bbb;
  --color-settings-tr-hover: #f7f7f7;
  --color-settings-engine-description-font: #909090;
  --color-result-detail-font: #fff;
  --color-result-detail-label-font: lightgray;
  --color-result-detail-background: #000;
  --color-result-detail-hr: #555;
  --color-result-detail-link: #8af;
  --color-result-detail-loader-border: rgba(255, 255, 255, 0.2);
  --color-result-detail-loader-borderleft: rgba(0, 0, 0, 0);
  --color-toolkit-badge-font: #fff;
  --color-toolkit-badge-background: #777;
  --color-toolkit-kbd-font: #fff;
  --color-toolkit-kbd-background: #000;
  --color-toolkit-dialog-border: #ddd;
  --color-toolkit-dialog-background: #fff;
  --color-toolkit-tabs-label-border: #fff;
  --color-toolkit-tabs-section-border: #ddd;
  --color-toolkit-select-border: #ddd;
  --color-toolkit-select-border-hover: #bbb;
  --color-toolkit-checkbox-onoff-background: #ddd;
  --color-toolkit-checkbox-onoff-label-background: #3050ff;
  --color-toolkit-checkbox-onoff-checked-background: #aaa;
  --color-toolkit-checkbox-label-background: #fff;
  --color-toolkit-checkbox-label-border: #ddd;
  --color-toolkit-checkbox-input-border: #3050ff;
  --color-toolkit-engine-tooltip-border: #ddd;
  --color-toolkit-engine-tooltip-background: #fff;
  --color-toolkit-loader-border: rgba(0, 0, 0, 0.2);
  --color-toolkit-loader-borderleft: rgba(255, 255, 255, 0);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-base-font: #bbb;
    --color-base-font-rgb: 187, 187, 187;
    --color-base-background: #222;
    --color-url-font: #8af;
    --color-url-visited-font: #96b;
    --color-header-background: #181818;
    --color-header-border: #333;
    --color-footer-background: #181818;
    --color-footer-border: #333;
    --color-sidebar-border: #555;
    --color-sidebar-font: #fff;
    --color-backtotop-font: #bbb;
    --color-backtotop-border: #333;
    --color-backtotop-background: #181818;
    --color-btn-background: #58f;
    --color-btn-font: #222;
    --color-search-border: #555;
    --color-search-background: #222;
    --color-search-font: #fff;
    --color-search-background-hover: #58f;
    --color-error: #f55b5b;
    --color-error-background: #390a0a;
    --color-warning: #f1d561;
    --color-warning-background: #39300a;
    --color-success: #79f56e;
    --color-success-background: #0e390a;
    --color-categories-item-selected-font: #58f;
    --color-categories-item-border-selected: #58f;
    --color-autocomplete-font: #fff;
    --color-autocomplete-border: #555;
    --color-autocomplete-background: #222;
    --color-autocomplete-background-hover: #181818;
    --color-answer-border: #333;
    --color-answer-font: #bbb;
    --color-answer-background: #181818;
    --color-result-border: #333;
    --color-result-url-font: #fff;
    --color-result-vim-selected: #181818;
    --color-result-vim-arrow: #8af;
    --color-result-description-highlight-font: #fff;
    --color-result-link-font: #8af;
    --color-result-link-font-highlight: #8af;
    --color-result-link-visited-font: #96b;
    --color-result-publishdate-font: #777;
    --color-result-engines-font: #777;
    --color-result-search-url-border: #555;
    --color-result-search-url-font: #fff;
    --color-result-detail-font: #fff;
    --color-result-detail-label-font: lightgray;
    --color-result-detail-background: #000;
    --color-result-detail-hr: #555;
    --color-result-detail-link: #8af;
    --color-result-detail-loader-border: rgba(255, 255, 255, 0.2);
    --color-result-detail-loader-borderleft: rgba(0, 0, 0, 0);
    --color-result-image-span-background-hover: rgba(0, 0, 0, 0.6);
    --color-result-image-span-font: #fff;
    --color-result-image-background: #8af;
    --color-settings-tr-hover: #2d2d2d;
    --color-settings-engine-description-font: #909090;
    --color-toolkit-badge-font: #fff;
    --color-toolkit-badge-background: #777;
    --color-toolkit-kbd-font: #000;
    --color-toolkit-kbd-background: #fff;
    --color-toolkit-dialog-border: #555;
    --color-toolkit-dialog-background: #222;
    --color-toolkit-tabs-label-border: #222;
    --color-toolkit-tabs-section-border: #555;
    --color-toolkit-select-border: #555;
    --color-toolkit-select-border-hover: #777;
    --color-toolkit-checkbox-onoff-background: #3c3b31;
    --color-toolkit-checkbox-onoff-label-background: #58f;
    --color-toolkit-checkbox-onoff-checked-background: #ddd;
    --color-toolkit-checkbox-label-background: #fff;
    --color-toolkit-checkbox-label-border: #333;
    --color-toolkit-checkbox-input-border: #58f;
    --color-toolkit-engine-tooltip-border: #333;
    --color-toolkit-engine-tooltip-background: #222;
    --color-toolkit-loader-border: rgba(255, 255, 255, 0.2);
    --color-toolkit-loader-borderleft: rgba(0, 0, 0, 0);
  }
}
/*
* SearXNG, A privacy-respecting, hackable metasearch engine
*/
.code-highlight pre {
  overflow: auto;
  background-color: inherit;
  color: inherit;
  border: inherit;
}
/*
   this file is generated automatically by searxng_extra/update/update_pygments.py
   using pygments version 2.10.0
*/
.code-highlight .linenos {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin-right: 8px;
  text-align: right;
}
.code-highlight .linenos::selection {
  background: transparent;
  /* WebKit/Blink Browsers */
}
.code-highlight .linenos::-moz-selection {
  background: transparent;
  /* Gecko Browsers */
}
.code-highlight pre {
  line-height: 125%;
}
.code-highlight td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
.code-highlight span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
.code-highlight td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
.code-highlight span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
.code-highlight .hll {
  background-color: #ffffcc;
}
.code-highlight {
  background: #f8f8f8;
}
.code-highlight .c {
  color: #408080;
  font-style: italic;
}
/* Comment */
.code-highlight .err {
  border: 1px solid #FF0000;
}
/* Error */
.code-highlight .k {
  color: #008000;
  font-weight: bold;
}
/* Keyword */
.code-highlight .o {
  color: #666666;
}
/* Operator */
.code-highlight .ch {
  color: #408080;
  font-style: italic;
}
/* Comment.Hashbang */
.code-highlight .cm {
  color: #408080;
  font-style: italic;
}
/* Comment.Multiline */
.code-highlight .cp {
  color: #BC7A00;
}
/* Comment.Preproc */
.code-highlight .cpf {
  color: #408080;
  font-style: italic;
}
/* Comment.PreprocFile */
.code-highlight .c1 {
  color: #408080;
  font-style: italic;
}
/* Comment.Single */
.code-highlight .cs {
  color: #408080;
  font-style: italic;
}
/* Comment.Special */
.code-highlight .gd {
  color: #A00000;
}
/* Generic.Deleted */
.code-highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.code-highlight .gr {
  color: #FF0000;
}
/* Generic.Error */
.code-highlight .gh {
  color: #000080;
  font-weight: bold;
}
/* Generic.Heading */
.code-highlight .gi {
  color: #00A000;
}
/* Generic.Inserted */
.code-highlight .go {
  color: #888888;
}
/* Generic.Output */
.code-highlight .gp {
  color: #000080;
  font-weight: bold;
}
/* Generic.Prompt */
.code-highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.code-highlight .gu {
  color: #800080;
  font-weight: bold;
}
/* Generic.Subheading */
.code-highlight .gt {
  color: #0044DD;
}
/* Generic.Traceback */
.code-highlight .kc {
  color: #008000;
  font-weight: bold;
}
/* Keyword.Constant */
.code-highlight .kd {
  color: #008000;
  font-weight: bold;
}
/* Keyword.Declaration */
.code-highlight .kn {
  color: #008000;
  font-weight: bold;
}
/* Keyword.Namespace */
.code-highlight .kp {
  color: #008000;
}
/* Keyword.Pseudo */
.code-highlight .kr {
  color: #008000;
  font-weight: bold;
}
/* Keyword.Reserved */
.code-highlight .kt {
  color: #B00040;
}
/* Keyword.Type */
.code-highlight .m {
  color: #666666;
}
/* Literal.Number */
.code-highlight .s {
  color: #BA2121;
}
/* Literal.String */
.code-highlight .na {
  color: #7D9029;
}
/* Name.Attribute */
.code-highlight .nb {
  color: #008000;
}
/* Name.Builtin */
.code-highlight .nc {
  color: #0000FF;
  font-weight: bold;
}
/* Name.Class */
.code-highlight .no {
  color: #880000;
}
/* Name.Constant */
.code-highlight .nd {
  color: #AA22FF;
}
/* Name.Decorator */
.code-highlight .ni {
  color: #999999;
  font-weight: bold;
}
/* Name.Entity */
.code-highlight .ne {
  color: #D2413A;
  font-weight: bold;
}
/* Name.Exception */
.code-highlight .nf {
  color: #0000FF;
}
/* Name.Function */
.code-highlight .nl {
  color: #A0A000;
}
/* Name.Label */
.code-highlight .nn {
  color: #0000FF;
  font-weight: bold;
}
/* Name.Namespace */
.code-highlight .nt {
  color: #008000;
  font-weight: bold;
}
/* Name.Tag */
.code-highlight .nv {
  color: #19177C;
}
/* Name.Variable */
.code-highlight .ow {
  color: #AA22FF;
  font-weight: bold;
}
/* Operator.Word */
.code-highlight .w {
  color: #bbbbbb;
}
/* Text.Whitespace */
.code-highlight .mb {
  color: #666666;
}
/* Literal.Number.Bin */
.code-highlight .mf {
  color: #666666;
}
/* Literal.Number.Float */
.code-highlight .mh {
  color: #666666;
}
/* Literal.Number.Hex */
.code-highlight .mi {
  color: #666666;
}
/* Literal.Number.Integer */
.code-highlight .mo {
  color: #666666;
}
/* Literal.Number.Oct */
.code-highlight .sa {
  color: #BA2121;
}
/* Literal.String.Affix */
.code-highlight .sb {
  color: #BA2121;
}
/* Literal.String.Backtick */
.code-highlight .sc {
  color: #BA2121;
}
/* Literal.String.Char */
.code-highlight .dl {
  color: #BA2121;
}
/* Literal.String.Delimiter */
.code-highlight .sd {
  color: #BA2121;
  font-style: italic;
}
/* Literal.String.Doc */
.code-highlight .s2 {
  color: #BA2121;
}
/* Literal.String.Double */
.code-highlight .se {
  color: #BB6622;
  font-weight: bold;
}
/* Literal.String.Escape */
.code-highlight .sh {
  color: #BA2121;
}
/* Literal.String.Heredoc */
.code-highlight .si {
  color: #BB6688;
  font-weight: bold;
}
/* Literal.String.Interpol */
.code-highlight .sx {
  color: #008000;
}
/* Literal.String.Other */
.code-highlight .sr {
  color: #BB6688;
}
/* Literal.String.Regex */
.code-highlight .s1 {
  color: #BA2121;
}
/* Literal.String.Single */
.code-highlight .ss {
  color: #19177C;
}
/* Literal.String.Symbol */
.code-highlight .bp {
  color: #008000;
}
/* Name.Builtin.Pseudo */
.code-highlight .fm {
  color: #0000FF;
}
/* Name.Function.Magic */
.code-highlight .vc {
  color: #19177C;
}
/* Name.Variable.Class */
.code-highlight .vg {
  color: #19177C;
}
/* Name.Variable.Global */
.code-highlight .vi {
  color: #19177C;
}
/* Name.Variable.Instance */
.code-highlight .vm {
  color: #19177C;
}
/* Name.Variable.Magic */
.code-highlight .il {
  color: #666666;
}
/* Literal.Number.Integer.Long */
html.no-js .hide_if_nojs {
  display: none;
}
html.js .show_if_nojs {
  display: none;
}
.center {
  text-align: center;
}
.right {
  float: right;
}
.left {
  float: left;
}
.invisible {
  display: none !important;
}
.list-unstyled {
  list-style-type: none;
}
.list-unstyled li {
  margin-top: 4px;
  margin-bottom: 4px;
}
.danger {
  background-color: var(--color-error-background);
}
.warning {
  background: var(--color-warning-background);
}
.success {
  background: var(--color-success-background);
}
.badge {
  display: inline-block;
  color: var(--color-toolkit-badge-font);
  background-color: var(--color-toolkit-badge-background);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  min-width: 10px;
  padding: 1px 5px;
  border-radius: 5px;
}
kbd {
  padding: 2px 4px;
  margin: 1px;
  font-size: 90%;
  color: var(--color-toolkit-kbd-font);
  background: var(--color-toolkit-kbd-background);
}
table {
  width: 100%;
}
table.striped tr {
  border-bottom: 1px solid var(--color-settings-tr-hover);
}
th {
  padding: 0.4em;
}
td {
  padding: 0 4px;
}
tr:hover {
  background: var(--color-settings-tr-hover) !important;
}
div.selectable_url {
  display: block;
  border: 1px solid var(--color-result-search-url-border);
  padding: 4px;
  color: var(--color-result-search-url-font);
  margin: 0.1em;
  overflow: hidden;
  height: 1.2em;
  line-height: 1.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div.selectable_url pre {
  display: block;
  font-size: 0.8em;
  word-break: break-all;
  margin: 0.1em;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: element;
  user-select: all;
}
.dialog-error {
  position: relative;
  padding: 1em 1em 1em 2.7em;
  margin: 0 0 1em 0;
  border: 1px solid var(--color-toolkit-dialog-border);
  text-align: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: var(--color-error);
  background: var(--color-error-background);
  border-color: var(--color-error);
}
.dialog-error::before {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-family: "ion";
  font-size: 1.5em;
}
.dialog-error .close {
  float: right;
  position: relative;
  top: -3px;
  color: inherit;
  font-size: 1.5em;
}
.dialog-error ul,
.dialog-error ol,
.dialog-error p {
  margin: 1px 0 0 0;
}
.dialog-error table {
  width: auto;
}
.dialog-error tr {
  vertical-align: text-top;
}
.dialog-error tr:hover {
  background: transparent;
}
.dialog-error td {
  padding: 0 1em 0 0;
}
.dialog-error h4 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.dialog-error:before {
  content: "\f110";
}
.dialog-warning {
  position: relative;
  padding: 1em 1em 1em 2.7em;
  margin: 0 0 1em 0;
  border: 1px solid var(--color-toolkit-dialog-border);
  text-align: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: var(--color-warning);
  background: var(--color-warning-background);
  border-color: var(--color-warning);
}
.dialog-warning::before {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-family: "ion";
  font-size: 1.5em;
}
.dialog-warning .close {
  float: right;
  position: relative;
  top: -3px;
  color: inherit;
  font-size: 1.5em;
}
.dialog-warning ul,
.dialog-warning ol,
.dialog-warning p {
  margin: 1px 0 0 0;
}
.dialog-warning table {
  width: auto;
}
.dialog-warning tr {
  vertical-align: text-top;
}
.dialog-warning tr:hover {
  background: transparent;
}
.dialog-warning td {
  padding: 0 1em 0 0;
}
.dialog-warning h4 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.dialog-warning:before {
  content: "\f10f";
}
.dialog-modal {
  position: relative;
  padding: 1em 1em 1em 2.7em;
  margin: 0 0 1em 0;
  border: 1px solid var(--color-toolkit-dialog-border);
  text-align: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: var(--color-toolkit-dialog-background);
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  z-index: 10000000;
}
.dialog-modal::before {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  font-family: "ion";
  font-size: 1.5em;
}
.dialog-modal .close {
  float: right;
  position: relative;
  top: -3px;
  color: inherit;
  font-size: 1.5em;
}
.dialog-modal ul,
.dialog-modal ol,
.dialog-modal p {
  margin: 1px 0 0 0;
}
.dialog-modal table {
  width: auto;
}
.dialog-modal tr {
  vertical-align: text-top;
}
.dialog-modal tr:hover {
  background: transparent;
}
.dialog-modal td {
  padding: 0 1em 0 0;
}
.dialog-modal h4 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.btn-collapse {
  cursor: pointer;
}
.scrollx {
  overflow-x: auto;
  overflow-y: hidden;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
}
/* -- tabs -- */
.tabs .tabs > label {
  font-size: 90%;
}
.tabs {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 100%;
}
.tabs > * {
  order: 2;
}
.tabs > input[type=radio] {
  display: none;
}
.tabs > label {
  order: 1;
  padding: 0.7em;
  margin: 0 0.7em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: solid var(--color-toolkit-tabs-label-border);
  border-width: 0 0 2px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.tabs > label:hover {
  border-bottom: 2px solid var(--color-categories-item-border-selected);
}
.tabs > section {
  min-width: 100%;
  padding: 0.7rem 0;
  box-sizing: border-box;
  border-top: 1px solid var(--color-toolkit-tabs-section-border);
  display: none;
}
.tabs > label:last-of-type {
  border-bottom: 2px solid var(--color-categories-item-border-selected);
  background: var(--color-categories-item-selected);
  color: var(--color-categories-item-selected-font);
  font-weight: bold;
  letter-spacing: -0.1px;
}
.tabs > section:last-of-type {
  display: block;
}
html body .tabs > input:checked ~ section {
  display: none;
}
html body .tabs > input:checked ~ label {
  position: inherited;
  background: inherit;
  border-bottom: 2px solid transparent;
  font-weight: normal;
  color: inherit;
}
html body .tabs > input:checked ~ label:hover {
  border-bottom: 2px solid var(--color-categories-item-border-selected);
}
html body .tabs > input:checked + label {
  border-bottom: 2px solid var(--color-categories-item-border-selected);
  background: var(--color-categories-item-selected);
  color: var(--color-categories-item-selected-font);
}
html body .tabs > input:checked + label + section {
  display: block;
}
/* -- select -- */
select {
  height: 28px;
  margin: 0 1em 0 0;
  padding: 2px 8px 2px 0 !important;
  color: var(--color-search-font);
  font-size: 12px;
  z-index: 2;
}
select:hover,
select:focus {
  cursor: pointer;
}
@supports ((background-position-x: 100%) and ((appearance: none) or (-webkit-appearance: none) or (-moz-appearance: none))) {
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-bottom: 1px solid var(--color-toolkit-select-border);
    background: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%3E%0A%3Cg%3E%3Cpolygon%20points%3D%22128%2C192%20256%2C320%20384%2C192%22%2F%3E%3C%2Fg%3E%0A%3C%2Fsvg%3E") no-repeat;
    background-position-x: 105%;
    background-size: 2em;
    background-origin: content-box;
    outline: medium none;
  }
  select:hover,
  select:focus {
    border-bottom: 1px solid var(--color-toolkit-select-border-hover);
  }
  select option {
    background-color: var(--color-base-background);
  }
  @media (prefers-color-scheme: dark) {
    select {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512%22%20height%3D%22512%22%20viewBox%3D%220%200%20512%20512%22%3E%0A%3Cg%3E%3Cpolygon%20fill%3D%22%23ddd%22%20points%3D%22128%2C192%20256%2C320%20384%2C192%22%2F%3E%3C%2Fg%3E%0A%3C%2Fsvg%3E");
    }
  }
}
/* -- checkbox-onoff -- */
@supports (border-radius: 50px) {
  .checkbox-onoff {
    display: inline-block;
    width: 40px;
    height: 10px;
    background: var(--color-toolkit-checkbox-onoff-background);
    margin: 8px 1rem;
    position: relative;
    border-radius: 50px;
  }
  .checkbox-onoff label {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -5px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.4s ease;
    left: 27px;
    background-color: var(--color-toolkit-checkbox-onoff-label-background);
  }
  .checkbox-onoff input[type=checkbox] {
    visibility: hidden;
  }
  .checkbox-onoff input[type=checkbox]:checked + label {
    left: -5px;
    background: var(--color-toolkit-checkbox-onoff-checked-background);
  }
}
/* -- checkbox -- */
@supports (transform: rotate(-45deg)) {
  .checkbox {
    width: 20px;
    position: relative;
    margin: 20px auto;
  }
  .checkbox label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-toolkit-checkbox-label-background);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .checkbox label::after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid var(--color-toolkit-checkbox-label-border);
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
  }
  .checkbox input[type=checkbox] {
    visibility: hidden;
  }
  .checkbox input[type=checkbox]:checked + label::after {
    border-color: var(--color-toolkit-checkbox-input-border);
    opacity: 1;
  }
  .checkbox input[disabled] + label {
    background-color: transparent !important;
    cursor: inherit;
  }
  .checkbox input:not(:checked):not([readonly]):not([disabled]) + label:hover::after {
    opacity: 0.5;
  }
}
@media screen and (max-width: 50em) {
  .tabs > label {
    width: 100%;
  }
}
/* -- loader -- */
.loader,
.loader::after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.loader {
  margin: 1em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid var(--color-toolkit-loader-border);
  border-right: 0.5em solid var(--color-toolkit-loader-border);
  border-bottom: 0.5em solid var(--color-toolkit-loader-border);
  border-left: 0.5em solid var(--color-toolkit-loader-borderleft);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.2s infinite linear;
  animation: load8 1.2s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* -- engine-tooltip -- */
.engine-tooltip {
  display: none;
  position: absolute;
  padding: 0.5rem 1rem;
  margin: 0 0 0 2rem;
  border: 1px solid var(--color-toolkit-engine-tooltip-border);
  background: var(--color-toolkit-engine-tooltip-background);
  font-size: 14px;
  font-weight: normal;
  z-index: 1000000;
  text-align: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
th:hover .engine-tooltip,
td:hover .engine-tooltip,
.engine-tooltip:hover {
  display: inline-block;
}
/* -- stacked bar chart -- */
.stacked-bar-chart {
  margin: 0;
  padding: 0 0.125rem 0 4rem;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  display: inline-flex;
}
.stacked-bar-chart-value {
  width: 3rem;
  display: inline-block;
  position: absolute;
  padding: 0 0.5rem;
  text-align: right;
}
.stacked-bar-chart-base {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: unset;
}
.stacked-bar-chart-median {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: unset;
  background: var(--color-base-font);
  border: 1px solid rgba(var(--color-base-font-rgb), 0.9);
  padding: 0.3rem 0;
}
.stacked-bar-chart-rate80 {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: unset;
  background: transparent;
  border: 1px solid rgba(var(--color-base-font-rgb), 0.3);
  padding: 0.3rem 0;
}
.stacked-bar-chart-rate95 {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: unset;
  background: transparent;
  border-bottom: 1px dotted rgba(var(--color-base-font-rgb), 0.5);
  padding: 0;
}
.stacked-bar-chart-rate100 {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: unset;
  background: transparent;
  border-left: 1px solid rgba(var(--color-base-font-rgb), 0.9);
  padding: 0.4rem 0;
  width: 1px;
}
/*! Autocomplete.js v2.6.3 | license MIT | (c) 2017, Baptiste Donaux | http://autocomplete-js.com */
.autocomplete {
  position: absolute;
  max-height: 0;
  overflow-y: hidden;
  text-align: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.autocomplete:active,
.autocomplete:focus,
.autocomplete:hover {
  background-color: var(--color-autocomplete-background);
}
.autocomplete:empty {
  display: none;
}
.autocomplete > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.autocomplete > ul > li {
  cursor: pointer;
  padding: 8px 0 8px 8px;
}
.autocomplete > ul > li.active,
.autocomplete > ul > li:active,
.autocomplete > ul > li:focus,
.autocomplete > ul > li:hover {
  background-color: var(--color-autocomplete-background-hover);
}
.autocomplete > ul > li.active a:active,
.autocomplete > ul > li:active a:active,
.autocomplete > ul > li:focus a:active,
.autocomplete > ul > li:hover a:active,
.autocomplete > ul > li.active a:focus,
.autocomplete > ul > li:active a:focus,
.autocomplete > ul > li:focus a:focus,
.autocomplete > ul > li:hover a:focus,
.autocomplete > ul > li.active a:hover,
.autocomplete > ul > li:active a:hover,
.autocomplete > ul > li:focus a:hover,
.autocomplete > ul > li:hover a:hover {
  text-decoration: none;
}
.autocomplete > ul > li.locked {
  cursor: inherit;
}
.autocomplete.open {
  display: block;
  background-color: var(--color-autocomplete-background);
  color: var(--color-autocomplete-font);
  border: 1px solid var(--color-autocomplete-border);
  max-height: 500px;
  overflow-y: auto;
  z-index: 100;
}
.autocomplete.open:empty {
  display: none;
}
@media screen and (max-width: 50em) {
  .autocomplete {
    bottom: 0;
  }
  .autocomplete > ul > li {
    border-bottom: 1px solid var(--color-result-top-border);
    text-align: left;
  }
}
#main_results #results.image-detail-open.only_template_images {
  width: 59.25rem !important;
}
#main_results #results.only_template_images.image-detail-open #backToTop {
  left: 56.75rem !important;
  right: inherit;
}
article.result-images .detail {
  display: none;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 60rem;
  right: 0;
  top: 7.5rem;
  transition: top 0.064s ease-in 0s;
  bottom: 0;
  background: var(--color-result-detail-background);
  border: 1px solid var(--color-result-detail-background);
  z-index: 10000;
  padding: 4rem 3rem 3rem 3rem;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-images-source {
  display: block;
  flex: 1;
  text-align: left;
  width: 100%;
  border: none;
  text-decoration: none;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-images-source img {
  padding: 0;
  margin: 0;
  border: none;
  object-fit: contain;
  width: inherit;
  max-width: 100%;
  min-height: inherit;
  max-height: calc(100vh - 25rem - 7rem);
  background: inherit;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels {
  color: var(--color-result-detail-font);
  max-height: 16rem;
  min-height: 16rem;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels hr {
  border-top: 1px solid var(--color-result-detail-hr);
  border-bottom: none;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels h4 {
  height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels p {
  color: var(--color-result-detail-label-font);
  font-size: 0.9rem;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels p span {
  display: inline-block;
  width: 12rem;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels h4,
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels p,
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels a {
  text-align: left;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels p.result-content {
  height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels p.result-url {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels p.result-content:hover,
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels p.result-url:hover {
  position: relative;
  overflow: inherit !important;
  background: var(--color-result-detail-background);
  text-overflow: inherit !important;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels a,
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels a:visited,
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels a:hover,
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels a:active {
  color: var(--color-result-detail-link);
}
#results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels a:hover {
  text-decoration: underline;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-close {
  top: 1rem;
  left: 1rem;
  padding: 0.4rem;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-previous {
  top: 1rem;
  right: 6rem;
  padding: 0.4rem 0.5rem 0.4rem 0.3rem;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-next {
  top: 1rem;
  right: 2rem;
  padding: 0.4rem;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-close,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-next,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-previous {
  border-radius: 50%;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  filter: opacity(40%);
  z-index: 2000002;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-close span,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-next span,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-previous span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-next span::before,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-previous span::before {
  vertical-align: sub;
}
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-close,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-close:visited,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-close:hover,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-close:active,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-previous,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-previous:visited,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-previous:hover,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-previous:active,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-next,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-next:visited,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-next:hover,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-next:active {
  color: var(--color-result-detail-font);
  background: var(--color-result-detail-background);
  border: 1px solid var(--color-result-detail-font);
}
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-close:focus,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-close:hover,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-previous:focus,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-previous:hover,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-next:focus,
#results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-next:hover {
  filter: opacity(80%);
}
#results.image-detail-open article.result-images[data-vim-selected] .detail .loader {
  position: absolute;
  top: 1rem;
  right: 50%;
  border-top: 0.5em solid var(--color-result-detail-loader-border);
  border-right: 0.5em solid var(--color-result-detail-loader-border);
  border-bottom: 0.5em solid var(--color-result-detail-loader-border);
  border-left: 0.5em solid var(--color-result-detail-loader-borderleft);
}
#results.image-detail-open.scrolling article.result-images[data-vim-selected] .detail {
  top: 0;
}
#results.image-detail-open.scrolling article.result-images[data-vim-selected] .detail a.result-images-source img {
  max-height: calc(100vh - 25rem);
}
@media screen and (max-width: 80em) {
  #results.image-detail-open article.result-images[data-vim-selected] .detail {
    top: 0;
    left: 0;
  }
  #results.image-detail-open article.result-images[data-vim-selected] .detail a.result-images-source {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #results.image-detail-open article.result-images[data-vim-selected] .detail a.result-images-source img {
    width: 100%;
    max-height: calc(100vh - 24rem);
  }
  #results.image-detail-open article.result-images[data-vim-selected] .detail a.result-detail-next {
    right: 1rem;
  }
}
@media screen and (max-width: 50em) {
  #results.image-detail-open article.result-images[data-vim-selected] .detail {
    top: 0;
    left: 0;
    padding: 1rem;
  }
  #results.image-detail-open article.result-images[data-vim-selected] .detail a.result-images-source img {
    width: 100%;
    max-height: calc(100vh - 20rem);
    margin: 0;
  }
  #results.image-detail-open article.result-images[data-vim-selected] .detail .result-images-labels p span {
    width: inherit;
    margin-right: 1rem;
  }
}
#main_index {
  margin-top: 26vh;
}
#main_index #linkto_preferences {
  right: 1.8rem;
}
.index {
  text-align: center;
}
.index .title {
  background: url('../img/searxng.png') no-repeat;
  min-height: 4rem;
  margin: 4rem auto;
  background-position: center;
  background-size: contain;
}
.index h1 {
  font-size: 4em;
  visibility: hidden;
}
.index #search {
  margin: 0 auto;
  background: inherit;
  border: inherit;
  padding: 0;
  display: block;
}
.index .search_filters {
  display: block;
  margin: 1em 0;
}
.index .category label {
  padding: 6px 10px;
  border-bottom: initial !important;
}
@media screen and (max-width: 80em) {
  div.title h1 {
    font-size: 1em;
  }
  #main_index {
    margin-top: 6em;
  }
}
@media screen and (max-width: 50em) {
  #main_index {
    margin-top: 0;
  }
}
#tab-contentquery table td,
#tab-contentquery table th {
  text-align: left !important;
  height: 3rem;
}
#main_preferences form {
  width: 100%;
}
#main_preferences fieldset {
  margin: 8px;
  border: none;
}
#main_preferences legend {
  margin: 0;
  padding: 5px 0 0 0;
  display: block;
  float: left;
  width: 300px;
}
#main_preferences .value {
  margin: 0;
  padding: 0;
  float: left;
  width: 15em;
}
#main_preferences .description {
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  width: 50%;
  color: var(--color-settings-engine-description-font);
  font-size: 90%;
}
#main_preferences select {
  width: 200px;
  font-size: inherit !important;
}
#main_preferences table {
  border-collapse: collapse;
}
#main_preferences table td {
  text-align: center;
}
#main_preferences table.cookies {
  width: 100%;
}
#main_preferences table.cookies th,
#main_preferences table.cookies td {
  text-align: left;
  font-family: monospace;
  font-size: 1rem;
  padding: 0.5em;
  vertical-align: top;
}
#main_preferences table.cookies td:first-child {
  word-break: keep-all;
  width: 14rem;
  padding-right: 1rem;
}
#main_preferences table.cookies td:last-child {
  word-break: break-all;
}
#main_preferences table.cookies > tbody > tr:nth-child(even) > th,
#main_preferences table.cookies > tbody > tr:nth-child(even) > td {
  background-color: var(--color-settings-tr-hover);
}
#main_preferences .name,
#main_preferences .shortcut {
  text-align: left;
}
#main_preferences .preferences_back {
  background: none repeat scroll 0 0 var(--color-btn-background);
  color: var(--color-btn-font);
  border: 0 none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  margin: 2px 4px;
  padding: 0.7em;
}
#main_preferences .preferences_back a {
  color: var(--color-settings-return-font);
}
#main_preferences .preferences_back a::first-letter {
  text-transform: uppercase;
}
#main_preferences div.selectable_url pre {
  width: 100%;
}
#main_preferences th.name .engine-tooltip {
  margin-top: 1.8rem;
  left: calc((100% - 85em) / 2 + 10em);
  max-width: 40rem;
}
#main_preferences th.name .engine-tooltip .engine-description {
  margin-top: 0.5rem;
}
@media screen and (max-width: 80em) {
  .preferences_back {
    clear: both;
  }
  .engine-tooltip {
    left: 10em !important;
  }
}
/*
* SearXNG, A privacy-respecting, hackable metasearch engine
*/
#search {
  padding: 1.5em 2em 0 7rem;
  margin: 0;
  background: var(--color-header-background);
  border-bottom: 1px solid var(--color-header-border);
  display: grid;
  column-gap: 1.2rem;
  row-gap: 1rem;
  grid-template-columns: 3rem 1fr;
  grid-template-areas: "logo search" "spacer categories";
}
#search_logo {
  grid-area: logo;
}
.search_logo_img {
  width: 40px;
}
.search_categories {
  grid-area: categories;
}
#search_wrapper {
  padding: 0;
  grid-area: search;
}
.search_box {
  margin: 0 12px 0 0;
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
}
#clear_search {
  display: block;
  border-collapse: separate;
  box-sizing: border-box;
  width: 1.8em;
  margin: 0;
  padding: 8px 2px;
  background: none repeat scroll 0 0 var(--color-search-background);
  border-top: 1px solid var(--color-search-border);
  border-bottom: 1px solid var(--color-search-border);
  border-right: none;
  border-left: none;
  border-radius: 0;
  outline: none;
  color: var(--color-search-font);
  font-size: 16px;
  z-index: 10000;
}
#clear_search:hover {
  color: var(--color-search-background-hover);
}
#clear_search.empty * {
  display: none;
}
#q,
#send_search {
  display: block !important;
  border-collapse: separate;
  box-sizing: border-box;
  margin: 0;
  padding: 8px;
  background: none repeat scroll 0 0 var(--color-search-background);
  border: 1px solid var(--color-search-border);
  border-radius: 0;
  outline: none;
  color: var(--color-search-font);
  font-size: 16px;
  z-index: 2;
}
#q {
  outline: medium none;
  padding-left: 12px;
  padding-right: 0 !important;
  border-right: none;
  width: 40rem;
  border-radius: 10px 0 0 10px;
}
#q::-ms-clear,
#q::-webkit-search-cancel-button {
  display: none;
}
#send_search {
  border-left: none;
  border-radius: 0 10px 10px 0;
}
#send_search:hover {
  cursor: pointer;
  background-color: var(--color-search-background-hover);
  color: var(--color-search-background);
}
.no-js #send_search {
  width: auto !important;
}
.search_filters {
  display: inline-block;
  margin: 0.8rem 0 0 0;
}
@media screen and (max-width: 80em) {
  #search {
    padding: 1.5em 0.5rem 0 0.5rem;
    column-gap: 0.5rem;
  }
  #categories {
    font-size: 90%;
    clear: both;
  }
  #categories .checkbox_container {
    margin: auto;
    margin-top: 2px;
  }
  html.touch #main_index #categories_container,
  html.touch #main_results #categories_container {
    width: 1000px;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
  }
  html.touch #main_index #categories_container .category,
  html.touch #main_results #categories_container .category {
    display: inline-block;
    width: auto;
  }
  html.touch #main_index #categories,
  html.touch #main_results #categories {
    width: 100%;
    margin: 0;
    text-align: left;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
@media screen and (max-width: 50em) {
  #search {
    width: 100%;
    margin: 0;
    padding: 0.1em 0 0 0;
    column-gap: 0;
    row-gap: 0;
    grid-template-areas: "logo search" "categories categories";
  }
  .search_logo {
    padding: 0;
  }
  #search_wrapper {
    width: 100%;
    padding: 0;
  }
  .search_box {
    width: 99%;
    margin: 0.1em;
    padding: 0 0.1em 0 0;
    display: flex;
    flex-direction: row;
  }
  #q {
    width: auto !important;
    flex: 1;
  }
  .search_filters {
    display: block;
    margin: 0.8em 0;
  }
  .language,
  .time_range {
    width: 45%;
  }
  .category {
    display: block;
    width: 100%;
  }
  .category label {
    padding: 10px !important;
  }
}
#categories {
  margin: 0 10px 0 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#categories::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.category {
  display: inline-block;
  position: relative;
  margin: 0 3px;
  padding: 0;
}
.category input {
  display: none;
}
.category label {
  cursor: pointer;
  padding: 0.3rem 0.75rem 0.5rem 0.75rem;
  margin: 0;
  display: block;
  text-transform: capitalize;
  font-size: 0.9em;
  border-bottom: 2px solid transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.category input[type="checkbox"]:checked + label {
  color: var(--color-categories-item-selected-font);
  border-bottom: 2px solid var(--color-categories-item-border-selected);
}
#categories_container {
  position: relative;
}
.ion-icon-big {
  display: inline-block;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 149%;
}
.ion-icon-big:before {
  font-family: "ion";
}
html {
  font-family: sans-serif;
  font-size: 0.9em;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: var(--color-base-font);
  background-color: var(--color-base-background);
  padding: 0;
  margin: 0;
}
body,
main {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
main {
  width: 100%;
  margin-bottom: 2rem;
  flex: 1;
}
#main_preferences,
#main_about,
#main_stats {
  margin: 2em auto;
  width: 85em;
}
footer {
  clear: both;
  min-height: 4rem;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  background-color: var(--color-footer-background);
  border-top: 1px solid var(--color-footer-border);
  overflow: hidden;
}
footer p {
  font-size: 0.9em;
}
#main_preferences h1,
#main_stats h1 {
  background: url('../img/searxng.png') no-repeat;
  background-size: contain;
  min-height: 40px;
  margin: 0 auto;
}
#main_preferences h1 span,
#main_stats h1 span {
  visibility: hidden;
}
input[type="submit"],
#results button[type="submit"] {
  padding: 0.7rem;
  display: inline-block;
  background: var(--color-btn-background);
  color: var(--color-btn-font);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--color-url-font);
}
a:visited {
  color: var(--color-url-visited-font);
}
a:visited .highlight {
  color: var(--color-url-visited-font);
}
article[data-vim-selected] {
  background: var(--color-result-vim-selected);
  border-left: 0.2rem solid var(--color-result-vim-arrow);
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
article.result-images[data-vim-selected] {
  background: var(--color-result-vim-arrow);
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
article.result-images[data-vim-selected] .image_thumbnail {
  filter: opacity(60%);
}
article[data-vim-selected].category-videos,
article[data-vim-selected].category-news,
article[data-vim-selected].category-map,
article[data-vim-selected].category-music,
article[data-vim-selected].category-files,
article[data-vim-selected].category-social {
  border: 1px solid var(--color-result-vim-arrow);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.result {
  margin: 0.125rem 0;
  padding: 1rem;
  border-left: 0.2rem solid transparent;
}
.result h3 {
  font-size: 1.1em;
  word-wrap: break-word;
  margin: 0.4rem 0 0.4rem 0;
  padding: 0;
}
.result h3 a {
  color: var(--color-result-link-font);
  font-weight: normal;
  font-size: 1.1em;
}
.result h3 a:visited {
  color: var(--color-result-link-visited-font);
}
.result h3 a:focus,
.result h3 a:hover {
  text-decoration: underline;
  border: none;
  outline: none;
}
.result .cache_link,
.result .proxyfied_link {
  font-size: 0.9em !important;
}
.result .content,
.result .stat,
.result .altlink {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  max-width: 54em;
  word-wrap: break-word;
  line-height: 1.24;
}
.result .content .highlight,
.result .stat .highlight,
.result .altlink .highlight {
  color: var(--color-result-description-highlight-font);
  background: inherit;
  font-weight: bold;
}
.result .codelines .highlight {
  color: inherit;
  background: inherit;
  font-weight: normal;
}
.result .url {
  font-size: 0.96em;
  margin: 0 0 3px 0;
  padding: 0;
  max-width: 54em;
  word-wrap: break-word;
  color: var(--color-result-url-font);
}
.result .published_date {
  font-size: 0.8em;
  color: var(--color-result-publishdate-font);
}
.result img.thumbnail {
  float: left;
  padding: 0 5px 10px 0;
  width: 20em;
  min-width: 20em;
  min-height: 8em;
}
.result img.image {
  float: left;
  padding: 0 5px 10px 0;
  width: 100px;
  max-height: 100px;
  object-fit: scale-down;
  object-position: right top;
}
.result .break {
  clear: both;
}
.category-videos,
.category-news,
.category-map,
.category-music,
.category-files,
.category-social {
  border: 1px solid var(--color-result-border);
  margin: 1rem 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.category-social .image {
  width: auto !important;
  min-width: 48px;
  min-height: 48px;
  padding: 0 5px 25px 0 !important;
}
.result-videos .content {
  overflow: hidden;
}
.engines {
  float: right;
  color: var(--color-result-engines-font);
}
.engines span {
  font-size: smaller;
  margin: 0 0.5em 0 0;
}
.small_font {
  font-size: 0.8em;
}
.highlight {
  color: var(--color-result-link-font-highlight);
  background: inherit;
}
.result-images {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 200px;
  border: none !important;
}
.result-images img {
  float: inherit;
  margin: 0.125rem;
  padding: 0;
  border: none;
  max-height: 200px;
  background: var(--color-result-image-background);
}
.result-images span.title {
  display: none;
  color: var(--color-result-image-span-font);
}
.result-images:hover span.title {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 4px;
  margin: 0 0 4px 4px;
  background-color: var(--color-result-image-span-background-hover);
  font-size: 0.7em;
}
.result-map img.image {
  float: right !important;
  height: 100px !important;
  width: auto !important;
}
.result-map table {
  font-size: 0.9em;
  width: auto;
  border-collapse: separate;
  border-spacing: 0 0.35rem;
}
.result-map table th {
  font-weight: inherit;
  width: 17rem;
  vertical-align: top;
  text-align: left;
}
.result-map table td {
  vertical-align: top;
  text-align: left;
}
.hidden {
  display: none !important;
}
#results {
  margin: 2rem 2rem 0 10rem;
  display: grid;
  grid-template-columns: 45rem 25rem;
  grid-template-rows: min-content min-content 1fr min-content;
  gap: 0 5rem;
  grid-template-areas: "corrections sidebar" "answers sidebar" "urls sidebar" "pagination sidebar";
}
#results #sidebar *:first-child,
#results #urls *:first-child {
  margin-top: 0;
}
#urls {
  padding: 0;
  grid-area: urls;
}
#suggestions .wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
#suggestions .wrapper form {
  display: inline-block;
  flex: 1 1 50%;
}
#suggestions input,
#infoboxes input {
  padding: 0;
  margin: 3px;
  font-size: 0.9em;
  display: inline-block;
  background: transparent;
  color: var(--color-result-search-url-font);
  cursor: pointer;
}
#suggestions input[type="submit"],
#infoboxes input[type="submit"],
#suggestions .infobox .url a,
#infoboxes .infobox .url a {
  color: var(--color-result-link-font);
  text-decoration: none;
  font-size: 0.9rem;
}
#suggestions input[type="submit"]:hover,
#infoboxes input[type="submit"]:hover,
#suggestions .infobox .url a:hover,
#infoboxes .infobox .url a:hover {
  text-decoration: underline;
}
#corrections {
  grid-area: corrections;
  display: flex;
  flex-flow: row wrap;
  margin: 0 0 1em 0;
}
#corrections h4,
#corrections input[type="submit"] {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
}
#corrections input[type="submit"] {
  font-size: 0.8rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
#suggestions .title,
#search_url .title,
#apis .title {
  margin: 2em 0 0.5em 0;
  color: var(--color-base-font);
}
#answers {
  grid-area: answers;
  border: 1px solid var(--color-answer-border);
  background: var(--color-answer-background);
  padding: 1rem;
  margin: 1rem 0.5rem;
  margin-top: 0;
  color: var(--color-answer-font);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#answers h4 {
  display: none;
}
#infoboxes form {
  min-width: 210px;
}
#sidebar {
  grid-area: sidebar;
  word-wrap: break-word;
  color: var(--color-sidebar-font);
}
#sidebar .infobox {
  margin: 10px 0 10px;
  border: 1px solid var(--color-sidebar-border);
  padding: 1rem;
  font-size: 0.9em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#sidebar .infobox h2 {
  margin: 0 0 0.5em 0;
}
#sidebar .infobox img {
  max-width: 100%;
  max-height: 12em;
  display: block;
  margin: 0 auto;
  padding: 0;
}
#sidebar .infobox dl {
  margin: 0.5em 0;
}
#sidebar .infobox dt {
  display: inline;
  margin: 0.5em 0.25em 0.5em 0;
  padding: 0;
  font-weight: bold;
}
#sidebar .infobox dd {
  display: inline;
  margin: 0.5em 0;
  padding: 0;
}
#sidebar .infobox input {
  font-size: 1em;
}
#sidebar .infobox br {
  clear: both;
}
#sidebar .infobox .attributes,
#sidebar .infobox .urls {
  clear: both;
}
#search_url {
  margin-top: 8px;
}
#search_url div.selectable_url pre {
  width: 200em;
}
#linkto_preferences {
  position: absolute;
  right: 10px;
  top: 2rem;
  padding: 0;
  border: 0;
  display: block;
  font-size: 1.2em;
  color: var(--color-search-font);
}
#linkto_preferences a:link *,
#linkto_preferences a:hover *,
#linkto_preferences a:visited *,
#linkto_preferences a:active * {
  color: var(--color-search-font);
}
#pagination {
  grid-area: pagination;
}
#pagination br {
  clear: both;
}
#apis {
  margin-top: 8px;
  clear: both;
}
#backToTop {
  border: 1px solid var(--color-backtotop-border);
  margin: 0;
  padding: 0;
  font-size: 1em;
  background: var(--color-backtotop-background);
  position: fixed;
  bottom: 8rem;
  left: 56.3rem;
  transition: opacity 0.5s;
  opacity: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#backToTop a {
  display: block;
  margin: 0;
  padding: 0.7em;
}
#backToTop a,
#backToTop a:visited,
#backToTop a:hover,
#backToTop a:active {
  color: var(--color-backtotop-font);
}
#results.scrolling #backToTop {
  opacity: 1;
}
@media screen and (max-width: 80em) {
  #main_preferences,
  #main_about,
  #main_stats {
    margin: 2rem 0.5rem;
    width: auto;
  }
  #infoboxes {
    position: inherit;
    max-width: inherit;
  }
  #infoboxes .infobox {
    clear: both;
  }
  #infoboxes .infobox img {
    float: left;
    max-width: 10em;
    margin: 0.5em 0.5em 0.5em 0;
  }
  #sidebar {
    margin-bottom: 0.125rem;
    padding: 0;
    float: none;
    border: none;
    width: auto;
  }
  #sidebar input {
    border: 0;
  }
  #apis {
    display: none;
  }
  #search_url {
    display: none;
  }
  .result .thumbnail {
    max-width: 98%;
  }
  .result .url span.url {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
  .result .engines {
    float: right;
    padding: 0 0 3px 0;
  }
  .result-images {
    border-bottom: none !important;
  }
  .image_result {
    max-width: 98%;
  }
  .image_result img {
    max-width: 98%;
  }
  #backToTop {
    display: none;
  }
  #pagination {
    margin: 2rem 0 0 0 !important;
  }
  #main_results div#results {
    margin: 2rem auto 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 45rem;
    grid-template-rows: min-content min-content min-content 1fr min-content min-content;
    gap: 0;
    grid-template-areas: "corrections" "answers" "sidebar" "urls" "pagination";
  }
}
#main_results div#results.only_template_images {
  margin: 2rem 0.5rem 0 0.5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content min-content 1fr min-content min-content;
  gap: 0;
  grid-template-areas: "corrections" "urls" "answers" "sidebar" "pagination";
}
#main_results div#results.only_template_images #urls {
  width: inherit;
  margin: 0;
}
#main_results div#results.only_template_images #backToTop {
  left: auto;
  right: 1rem;
}
#main_results div#results.only_template_images #pagination {
  margin-right: 4rem;
}
@media screen and (max-width: 50em) {
  #main_results div#results {
    grid-template-columns: 100%;
    margin: 2rem 0.5rem 0 0.5rem;
  }
  #linkto_preferences {
    display: none;
    position: fixed !important;
    top: 100px;
    right: 0;
  }
  #results {
    margin: 0;
    padding: 0;
  }
  #pagination {
    margin: 2rem 1rem 0 1rem !important;
  }
  article[data-vim-selected] {
    border: 1px solid var(--color-result-vim-arrow);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .result {
    border: 1px solid var(--color-result-border);
    margin: 1rem 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .result-images {
    margin: 0;
    padding: 0;
    border: none;
  }
}
@media screen and (max-width: 35em) {
  .result-videos img.thumbnail {
    float: none !important;
  }
  .result-videos .content {
    overflow: inherit;
  }
}
pre code {
  white-space: pre-wrap;
}
#search_submit {
  left: 1px;
  right: auto;
}
