<div id="categories" class="search_categories">{{- '' -}}
    <div id="categories_container">
        {%- for category in categories -%}
        <div class="category"><input type="checkbox" id="checkbox_{{ category|replace(' ', '_') }}" name="category_{{ category }}"{% if category in selected_categories %} checked="checked"{% endif %}/><label for="checkbox_{{ category|replace(' ', '_') }}" class="tooltips">{{ _(category) }}</label></div>
        {%- endfor -%}
        {%- if display_tooltip %}<div class="help">{{ _('Click on the magnifier to perform search') }}</div>{% endif -%}
    </div>{{- '' -}}
</div>
